@import 'sass/helpers/variables';
@import 'sass/helpers/mixins';
@import 'sass/helpers/extends';
@import 'sass/helpers/classes';

@import 'sass/base/reset';
@import 'sass/base/typography';

@import 'sass/components/forms';
@import 'sass/components/navbar';
@import 'sass/components/carousel';
@import 'sass/components/accordion';

@import 'sass/layout/header';
@import 'sass/layout/side-bar';
@import 'sass/layout/megamenu';
@import 'sass/pages/home';
@import 'sass/layout/footer';

.cart-side {
    width: 260px;
    background-color: #fff;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 9999;
    cursor: pointer;
    display: none;
}

.cart-over {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $maincolor;
    opacity: 0.3;
    z-index: 10;
}