body {
    position: relative;
    font-family: Frutiger;

    &::-webkit-scrollbar {
        background-color: #406140;
        width: 7px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #96be96;
    }
}

html {
    scrollbar-width: thin;
    scrollbar-color: #96be96 #406140;
}